<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader"><%- lang('welcome.welcomeHeader') %></span>
        <span id="welcomeDescription"><%- lang('welcome.welcomeDescription') %></span>
        <br>
        <span id="welcomeDescCTA"><%- lang('welcome.welcomeDescCTA') %></span>
        <a href="https://discordapp.com/invite/PYWJw99DNf" target="_blank" style="text-decoration: none;">

            <button onclick="window.location.href='<%- lang('landing.mediaDiscordURL') %>'" class="button_media mediaSVG" id="discordURL" style="
    width: 100%;
    height: 40px;
">
            <h3 style="
    margin-top: 2px;
">        <svg id="discordSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500" style="
    height: 15px;
    width: 35px;
">
            <g>
                <path d="M81.23,78.48a6.14,6.14,0,1,1,6.14-6.14,6.14,6.14,0,0,1-6.14,6.14M60,78.48a6.14,6.14,0,1,1,6.14-6.14A6.14,6.14,0,0,1,60,78.48M104.41,73c-.92-7.7-8.24-22.9-8.24-22.9A43,43,0,0,0,88,45.59a17.88,17.88,0,0,0-8.38-1.27l-.13,1.06a23.52,23.52,0,0,1,5.8,1.95,87.59,87.59,0,0,1,8.17,4.87s-10.32-5.63-22.27-5.63a51.32,51.32,0,0,0-23.2,5.63,87.84,87.84,0,0,1,8.17-4.87,23.57,23.57,0,0,1,5.8-1.95l-.13-1.06a17.88,17.88,0,0,0-8.38,1.27,42.84,42.84,0,0,0-8.21,4.56S37.87,65.35,37,73s-.37,11.54-.37,11.54,4.22,5.68,9.9,7.14,7.7,1.47,7.7,1.47l3.75-4.68a21.22,21.22,0,0,1-4.65-2A24.47,24.47,0,0,1,47.93,82S61.16,88.4,70.68,88.4c10,0,22.75-6.44,22.75-6.44a24.56,24.56,0,0,1-5.35,4.56,21.22,21.22,0,0,1-4.65,2l3.75,4.68s2,0,7.7-1.47,9.89-7.14,9.89-7.14.55-3.85-.37-11.54"/>
            </g>
        </svg> Rejoindre le Discord communautaire</h3>

    </button></a>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                <%- lang('welcome.continueButton') %>
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>